<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.first.hrm.dao.NoticeMapper">

	<resultMap id="result" type="com.first.hrm.bean.Notice" autoMapping="true">

		<result column="create_date" property="createDate"></result>
		<association property="user" column="USER_ID" javaType="com.first.hrm.bean.User"
					 select="com.first.hrm.dao.UserMapper.selectById">
		</association>

	</resultMap>

	<sql id="base_select">
		from  hrm_notice
		<where>
			<if test="title !=null">
				title like #{title}
			</if>
		</where>
	</sql>

	<select id="select" resultMap="result">
		select * from hrm_notice
	</select>

	<insert id="insert" useGeneratedKeys="true" keyColumn="id" >
     insert into hrm_notice (TITLE,CONTENT,CREATE_DATE,USER_ID)
		 values(#{title},#{content},#{createDate},#{userId})
	</insert>

	<select id="selectById" resultMap="result" parameterType="int">
		select *from hrm_notice where id=#{id}
	</select>

	<update id="update" parameterType="com.first.hrm.bean.Notice">
		update hrm_notice set title=#{title},content=#{content} where id=#{id}
	</update>

	<select id="selectByTitle" parameterType="HashMap" resultMap="result">
		select * <include refid="base_select"></include>

	</select>

</mapper>